/* Reset Browser Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: blue;
    color: white;
}
header {
    opacity: 0;
    height: 200px;
    pointer-events: none;
}
h3 {
    display: block;
    margin-top: 10px;
}


/* Contact Form Area (Grid) */
#contact-form {
    display: grid;
    grid-template-areas:
        'heading heading heading heading'
        'subheading subheading subheading subheading'
        '. name email .'
        '. phone phone .'
        '. submit . .';
    grid-gap: 10px;

    margin: 8px;
    padding: 16px;
    background-color: blue;
}

/* Form Heading */
#contact-form h2 {
    grid-area: heading;
    font-size: 40px;
    font-weight: bold;
}
#contact-form h3 {
    grid-area: subheading;
    font-size: 24px;
}

/* Form Elements (General) */
#contact-form input
 {
    margin: 10px;
    padding: 10px;
    display: block;
    width: 100%;
    border-radius: 10px;
}

#contact-form button {
    margin: 10px;
    padding: 10px;
    width: 150px;
    justify-self: start;
    color: blue;
    background-color: white;
    border-radius: 10px;
}



#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"]
 {
    margin-bottom: 15px;
    height: 60px;
}

/* Grid Items / Cells */
#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#submit-field {
    grid-area: submit;
    justify-self: start;
}
/* Footer */
footer {
    margin-top: 8px;
    padding: 16px;
    background-color: #333;
    color: white;
}